//-----------------------------------
//    $STYLES
//-----------------------------------

@import "lib/variables.scss";

@import "lib/mixins.scss";

@import "lib/placeholders.scss";

@import "lib/grid.scss";

@import "lib/reset.scss";

@import "lib/icons.scss";

@import "main.scss";


//-----------------------------------
//    $BREAKPOINTS
//-----------------------------------

@media (max-width: $screen-xs-max) { }
@media (min-width: $screen-sm-min) { }
@media (max-width: $screen-sm-max) { }
@media (min-width: $screen-md-min) { }
@media (max-width: $screen-md-max) { }
@media (min-width: $screen-lg-min) { }


//----------------------------------
//    $HEADINGS
//----------------------------------

h1,h2,h3,h4,h5{
	font-weight:300;
}
h1{
	font-size: $font-size-h1;
}
h2{
	font-size: $font-size-h2;
}
h3{
	font-size: $font-size-h3;
}
h4{
	font-size: $font-size-h4;
}
h5{
	font-size: $font-size-h5;
}
h1, h2, h3, h4, h5{
	padding:1em 0 .5em 0;
}


//-----------------------------------
//    $MAIN STYLES
//-----------------------------------

*{
	@include box-sizing();
}

body{
	font-family:$basefont;
	color:$text-color;
}

section.container{
	span{
		@extend .icon-rocknroll;
	}
}

// ...